body {
    background-color: white;
  }
  
  #AD {
    font-family: 'Noto Sans JP', sans-serif;
    border-style: solid;
    border-width: thin;
    border-color: gray;
    color: black;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
  }

  #title {
    text-align:left;
    margin-top: -10px;
    margin-left: 8%;
  }

  #bar {
    text-align: center;
  }

  input[type="text"]{
    margin-bottom: 20px;
    width: 380px;
    height: 23px;
  }

  .container {
    font-family: 'Roboto', sans-serif;
    border-style: solid;
    border-width:thin;
    border-top: none;
    border-color: grey;
    display: flex;
    flex-wrap: wrap;
    text-align:center;
    width: 40%;
    margin: 0 auto;
    color: black;

  }

  img {
    margin-right: 13px;
    margin-left:13px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .container:hover {
    background-color: orchid;
    opacity: 0.5;
  }

  #info {
    text-align: left;
    font-size:12px;
  }


