body {
    background-color: white;
  }
  
  #AD {
    text-align:center;
    border-style: solid;
    border-width: thin;
    border-color: gray;
    color: black;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
  }

  input[type="text"]{
    margin-bottom: 20px;
  }

  .container {
    border-style: solid;
    border-width:thin;
    border-top: none;
    border-color: grey;
    display: flex;
    flex-wrap: wrap;
    text-align:center;
    width: 40%;
    margin: 0 auto;
    color: black;

  }

  img {
    margin-right: 10px;
    margin-left:10px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .container:hover {
    background-color: orchid;
    opacity: 0.5;
  }

  #info {
    text-align: left;
  }



